h1 {
    color: darkolivegreen;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.container {
    color: #4c3326;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    font-family: 'Times New Roman', Times, serif;

}
     
.item {
    border: 3px solid #4c3326;
    padding: 10px;
    text-align: center;
    background-color: rgb(172, 161, 148);
}
