/* Farbvariablen */
:root {
    --primary-color: rgb(2, 105, 139);
    --secondary-color: #4c3326;
    --warning-color: rgb(239, 3, 50);
  }
  
  /* Überschrift */
  h1 {
      color: var(--primary-color);
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
  }
  
  /* Hauptcontainer */
  .container {
      color: var(--secondary-color);
      display: flex;
      flex-direction: column;
      font-family: 'Times New Roman', Times, serif;
      border: 1px solid #ccc;
      padding: 20px;
      margin: 0 auto; 
  }
  
  /* Lebensmittelebene */
  .level {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-bottom: 5px solid var(--secondary-color); /* Dicker brauner Balken oben */
      padding-top: 5px; /* Abstand zum Balken */
      align-items: center; /* Vertikale Ausrichtung zentrieren */
  }
  
  /* Einzelnes Lebensmittel */
  .item {
      flex: 0 0 calc(25% - 20px); /* Breite für jedes Element */
      margin: 0.5rem; /* Platz um die Produkte herum */
      border: 3px solid var(--secondary-color);
      padding: 10px;
      text-align: center;
      background-color: rgb(172, 161, 148);
      position: relative;
  }
  
  /* Warnungsklasse */
  .warning {
      background-color: var(--warning-color);
  }
  
  /* Überschrift für jedes Lebensmittel */
  h3 {
      color: var(--secondary-color);
      font-family: 'Times New Roman', Times, serif;
      text-align: unset;
  }
  
  /* Eingabeformular */
  .add-item-form {
      margin-top: 20px;
  }
  

  
  